# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 使用並觀察特徵組合, 在計程車費率預測競賽的影響

# [作業重點]
- 仿造範例並參考今日課程內容, 使用經緯度一圈的長度比的概念造出新特徵, 觀察有什麼影響 (In[6], Out[6])
- 只使用上面所造的這個新特徵, 觀察有什麼影響 (In[7], Out[7])

In [62]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

data_path = 'data/'
df = pd.read_csv(data_path + 'taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2011-10-21 23:54:10 UTC,-73.990580,40.761071,-73.981128,40.758634,2
1,2015-02-03 10:42:03 UTC,-73.988403,40.723431,-73.989647,40.741695,1
2,2014-03-16 18:58:58 UTC,-74.015785,40.715110,-74.012029,40.707888,2
3,2009-06-13 16:10:54 UTC,-73.977322,40.787275,-73.958030,40.778838,3
4,2014-06-12 03:25:56 UTC,-73.989683,40.729717,-73.982490,40.761887,3

In [63]:
# 時間特徵分解方式:使用datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56

In [64]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.026876871475636888
Gradient Boosting Reg Score : 0.7114602376376408

In [65]:
# 增加緯度差, 經度差, 座標距離等三個特徵
df['longitude_diff'] = df['dropoff_longitude'] - df['pickup_longitude']
df['latitude_diff'] = df['dropoff_latitude'] - df['pickup_latitude']
df['distance_2D'] = (df['longitude_diff']**2 + df['latitude_diff']**2)**0.5
df[['distance_2D', 'longitude_diff', 'latitude_diff', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']].head()

,distance_2D,longitude_diff,latitude_diff,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,0.009761,0.009452,-0.002437,-73.990580,40.761071,-73.981128,40.758634
1,0.018307,-0.001244,0.018265,-73.988403,40.723431,-73.989647,40.741695
2,0.008140,0.003756,-0.007222,-74.015785,40.715110,-74.012029,40.707888
3,0.021056,0.019292,-0.008437,-73.977322,40.787275,-73.958030,40.778838
4,0.032964,0.007193,0.032170,-73.989683,40.729717,-73.982490,40.761887

In [66]:
# 結果 : 準確度上升
train_X = scaler.fit_transform(df)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.027525445787303093
Gradient Boosting Reg Score : 0.8044166023064061

# 作業1
* 參考今日教材，試著使用經緯度一圈的長度比這一概念，組合出一個新特徵，再觀察原特徵加上新特徵是否提升了正確率?

In [67]:
from math import radians, cos, sin, asin, sqrt
 
def haversine(lon1, lat1, lon2, lat2): # 经度1，纬度1，经度2，纬度2 （十进制度数）
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # 将十进制度数转化为弧度
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
 
    # haversine公式
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # 地球平均半径，单位为公里
    return c * r * 1000

In [68]:
df_temp=[]
for i,j,k,l in zip(df['pickup_longitude'],df['pickup_latitude'],df['dropoff_longitude'],df['dropoff_latitude']):
    df_temp.append(haversine (i,j,k,l))
    #x=x+1
    #print(x,haversine (i,j,k,l),df['distance'][x])
df['distance_real']=df_temp
df

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,longitude_diff,latitude_diff,distance_2D,distance_real
0,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,0.009452,-0.002437,0.009761,840.949780
1,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,-0.001244,0.018265,0.018307,2033.651130
2,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,0.003756,-0.007222,0.008140,863.198130
3,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,0.019292,-0.008437,0.021056,1875.760391
4,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,0.007193,0.032170,0.032964,3628.101569
5,-73.997631,40.721805,-74.009757,40.709941,1,2011,7,16,1,19,59,-0.012126,-0.011864,0.016965,1668.768704
6,-73.954743,40.789303,-73.964755,40.773345,1,2009,6,27,18,15,0,-0.010012,-0.015958,0.018839,1964.508964
7,-73.982279,40.764668,-73.990323,40.756427,1,2009,1,23,20,38,16,-0.008044,-0.008241,0.011516,1139.611523
8,-73.965039,40.769972,-73.955365,40.779438,1,2010,8,9,14,46,3,0.009674,0.009466,0.013535,1330.975160
9,-73.986570,40.734727,-74.003757,40.741951,1,2011,9,29,21,56,45,-0.017187,0.007224,0.018643,1655.920010
10,-73.953742,40.774040,-73.969870,40.785605,1,2009,2,9,22,26,0,-0.016128,0.011565,0.019846,1870.241257
11,-73.982057,40.768790,-73.949467,40.830230,1,2010,11,3,21,7,0,0.032590,0.061440,0.069548,7362.006434
12,-73.983368,40.727033,-73.953655,40.666835,4,2009,11,23,5,18,0,0.029713,-0.060198,0.067132,7147.063325
13,-74.005307,40.728124,-73.979042,40.741986,1,2012,4,2,21,8,2,0.026265,0.013862,0.029699,2696.886829
14,-73.970473,40.783983,-73.967860,40.762692,1,2009,12,14,20,28,45,0.002613,-0.021291,0.021451,2377.654413
15,-73.951788,40.714289,-73.952272,40.694019,2,2014,3,30,1,52,38,-0.000484,-0.020270,0.020276,2254.290391
16,-73.999353,40.761494,-73.953128,40.768081,1,2009,7,1,3,24,53,0.046225,0.006587,0.046692,3961.309447
17,-74.001532,40.730875,-73.978048,40.764719,1,2013,8,1,1,0,25,0.023484,0.033844,0.041194,4251.580909
18,-73.966994,40.757627,-73.967327,40.766001,1,2012,3,17,10,39,5,-0.000333,0.008374,0.008381,931.568593
19,-73.967032,40.803832,-73.973962,40.754712,2,2013,11,1,20,41,0,-0.006930,-0.049120,0.049606,5492.975177
20,-73.988503,40.731349,-73.979510,40.748828,1,2014,4,21,17,48,35,0.008993,0.017479,0.019657,2086.033637
21,-73.958500,40.810140,-73.978187,40.778183,4,2012,1,7,17,53,0,-0.019687,-0.031957,0.037534,3920.921639
22,-73.966323,40.761512,-73.957015,40.768288,1,2011,6,16,15,6,0,0.009308,0.006776,0.011513,1087.292760
23,-73.989962,40.767048,-73.950755,40.776633,1,2011,3,5,20,25,0,0.039207,0.009585,0.040362,3469.375374
24,-73.958430,40.781613,-73.985932,40.770163,1,2012,10,8,9,9,39,-0.027502,-0.011450,0.029790,2642.706081
25,-73.979752,40.766000,-73.985705,40.756777,1,2014,5,21,18,46,0,-0.005953,-0.009223,0.010977,1141.549651
26,-73.994117,40.759050,-73.942337,40.847027,1,2014,2,11,21,21,0,0.051780,0.087977,0.102084,10709.538718
27,-73.980308,40.780442,-73.972903,40.795217,5,2011,7,9,23,12,0,0.007405,0.014775,0.016527,1757.211703
28,-73.980436,40.770263,-73.953017,40.783132,1,2011,12,14,12,3,14,0.027419,0.012869,0.030289,2716.269522
29,-73.951540,40.769698,-73.966601,40.753667,1,2012,2,12,12,9,15,-0.015061,-0.016031,0.021996,2187.823842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,-73.982535,40.745528,-73.970325,40.799040,1,2012,7,14,21,36,0,0.012210,0.053512,0.054887,6038.444398
4971,-73.994720,40.745266,-73.951874,40.777031,1,2015,3,24,21,15,30,0.042847,0.031765,0.053337,5049.592713
4972,-74.007568,40.743445,-74.009453,40.715368,4,2011,2,21,21,9,0,-0.001885,-0.028077,0.028140,3126.057849
4973,-73.988347,40.720062,-73.984237,40.744293,3,2012,10,28,3,46,39,0.004110,0.024231,0.024577,2716.528727
4974,-74.003000,40.748896,-73.993130,40.762910,1,2013,9,12,22,28,17,0.009870,0.014014,0.017141,1766.181117
4975,-73.982075,40.755006,-73.962513,40.778304,1,2010,7,18,10,51,22,0.019562,0.023298,0.030422,3070.075504
4976,-73.853805,40.727235,-73.862738,40.729588,5,2009,8,12,10,20,0,-0.008933,0.002353,0.009238,796.912191
4977,-73.991290,40.750211,-74.006304,40.722786,1,2010,12,3,11,21,47,-0.015014,-0.027425,0.031266,3301.483663
4978,-74.007162,40.711847,-74.012580,40.701522,1,2009,10,3,13,8,0,-0.005418,-0.010325,0.011660,1235.587222
4979,-73.977730,40.786848,-73.977370,40.775877,1,2009,5,1,23,7,0,0.000360,-0.010971,0.010977,1220.296050
4980,-73.967935,40.803050,-73.965573,40.764447,1,2009,2,7,20,28,46,0.002362,-0.038603,0.038675,4297.062009
4981,-73.961487,40.774535,-73.889445,40.819582,1,2011,10,24,14,9,0,0.072042,0.045047,0.084966,7865.505880
4982,-73.863480,40.769920,-73.966133,40.757999,1,2015,3,16,20,21,31,-0.102654,-0.011921,0.103343,8746.474470
4983,-73.957769,40.773766,-73.978916,40.773361,1,2011,7,27,10,43,46,-0.021147,-0.000405,0.021151,1781.305878
4984,-73.991764,40.759287,-73.988162,40.732078,3,2011,2,6,11,58,46,0.003602,-0.027209,0.027446,3040.681576
4985,-74.007777,40.715137,-74.004057,40.725677,1,2013,12,20,2,11,0,0.003720,0.010540,0.011177,1213.200303
4986,-73.996112,40.726045,-73.983083,40.756667,1,2014,2,1,13,33,17,0.013029,0.030622,0.033279,3577.566615
4987,-73.975698,40.756953,-73.984026,40.757036,1,2009,12,18,18,3,46,-0.008328,0.000083,0.008328,701.515839
4988,-73.990323,40.752555,-73.991157,40.731852,6,2012,11,5,14,58,0,-0.000834,-0.020703,0.020720,2303.140565
4989,-73.965067,40.755190,-73.965067,40.755190,5,2013,12,24,18,36,0,0.000000,0.000000,0.000000,0.000000
4990,-73.975028,40.765580,-73.989997,40.751650,1,2012,12,2,12,21,13,-0.014969,-0.013930,0.020448,1997.201278
4991,-73.991309,40.739068,-73.995768,40.726276,1,2009,4,11,19,24,50,-0.004459,-0.012792,0.013547,1471.189037
4992,-73.957620,40.782134,-73.973613,40.750718,1,2014,12,1,19,59,19,-0.015993,-0.031416,0.035253,3743.957447
4993,-73.973512,40.754700,-73.981157,40.737545,1,2014,9,29,18,59,0,-0.007645,-0.017155,0.018781,2013.335717
4994,-73.982043,40.774592,-73.976149,40.782166,1,2009,8,13,14,16,40,0.005894,0.007574,0.009597,977.538551
4995,-73.994150,40.761397,-73.986840,40.759202,1,2011,12,23,19,7,0,0.007310,-0.002195,0.007632,662.293951
4996,-73.986767,40.729937,-73.977022,40.726482,1,2009,8,26,18,19,41,0.009745,-0.003455,0.010339,906.587298
4997,-73.984612,40.732297,-73.995004,40.750059,1,2010,10,25,6,5,21,-0.010392,0.017762,0.020579,2160.397984
4998,-73.958460,40.773415,-73.953445,40.782598,1,2010,2,16,16,57,0,0.005015,0.009183,0.010463,1104.973040
4999,-73.965193,40.759520,-73.991758,40.744213,4,2009,2,18,17,1,5,-0.026565,-0.015307,0.030659,2811.463413

In [69]:
import math
"""
Your Code Here, set new character at df['distance_real']
"""

# 觀察結果 
train_X = scaler.fit_transform(df)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.3673001821894074
Gradient Boosting Reg Score : 0.8042229940026326

# 作業2
* 試著只使用新特徵估計目標值(忽略原特徵)，效果跟作業1的結果比較起來效果如何?

In [70]:

train_X = scaler.fit_transform(df[['distance_real']])
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.0011536096142396256
Gradient Boosting Reg Score : 0.715704780543987

# 較差